<div class="jumbotron text-center">
  <h1>RestaurantApp</h1>
  <p class="lead">Welcome to RestaurantApp</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Zoek restaurants</h3>
    <p>Zoek uw avondje uit in een complete lijst van restaurants in België.</p>
  </div>
  <div class="col-md-4">
    <h3>Voeg restaurants toe aan uw favorieten</h3>
    <p>Als u heel tevreden was van uw restaurantbezoek, dan kan u deze toevoegen aan uw favorieten.</p>
  </div>
  <div class="col-md-4">
    <h3>Draag bij tot de beoordeling</h3>
    <p>Uzelf kan restaurants beoordelen, op basis hiervan wordt een totale score bepaalt!</p>
  </div>
</div>
